[Unit]
Description=AllStar NodeList Diff Updater
Wants=network.target
After=network-online.target asterisk.service

[Service]
StandardOutput=null
ExecStart=/usr/local/sbin/update-node-list.sh
ExecStop=/usr/bin/killall -9 update-node-list
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target